
SolutionFacture/prjEFCore/bin/Debug/net5.0/Castle.Core.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Humanizer.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Proxies.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Caching.Abstractions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Caching.Memory.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Identity.Client.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/Newtonsoft.Json.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.deps.json
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.exe
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.pdb
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.runtimeconfig.dev.json
SolutionFacture/prjEFCore/bin/Debug/net5.0/prjEFCore.runtimeconfig.json
SolutionFacture/prjEFCore/bin/Debug/net5.0/ref/prjEFCore.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Drawing.Common.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Runtime.Caching.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Security.Permissions.dll
SolutionFacture/prjEFCore/bin/Debug/net5.0/System.Windows.Extensions.dll
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/apphost.exe
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.AssemblyInfo.cs
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.AssemblyInfoInputs.cache
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.assets.cache
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.csproj.AssemblyReference.cache
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.csproj.CoreCompileInputs.cache
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.csproj.FileListAbsolute.txt
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.dll
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.GeneratedMSBuildEditorConfig.editorconfig
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.genruntimeconfig.cache
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ProjetFactureCore.pdb
SolutionFacture/ProjetFactureCore/obj/Debug/net5.0/ref/ProjetFactureCore.dll
SolutionFacture/ProjetFactureCore/obj/project.assets.json
SolutionFacture/ProjetFactureCore/obj/project.nuget.cache
SolutionFacture/ProjetFactureCore/obj/ProjetFactureCore.csproj.nuget.dgspec.json
SolutionFacture/ProjetFactureCore/obj/ProjetFactureCore.csproj.nuget.g.props
SolutionFacture/ProjetFactureCore/obj/ProjetFactureCore.csproj.nuget.g.targets
SolutionFacture/prjEFCore/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SolutionFacture/prjEFCore/obj/Debug/net5.0/apphost.exe
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.AssemblyInfo.cs
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.AssemblyInfoInputs.cache
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.assets.cache
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.csproj.AssemblyReference.cache
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.csproj.CopyComplete
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.csproj.CoreCompileInputs.cache
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.csproj.FileListAbsolute.txt
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.dll
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.GeneratedMSBuildEditorConfig.editorconfig
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.genruntimeconfig.cache
SolutionFacture/prjEFCore/obj/Debug/net5.0/prjEFCore.pdb
SolutionFacture/prjEFCore/obj/Debug/net5.0/ref/prjEFCore.dll
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.deps.json
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.dll
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.exe
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.pdb
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.runtimeconfig.dev.json
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ProjetFactureCore.runtimeconfig.json
SolutionFacture/ProjetFactureCore/bin/Debug/net5.0/ref/ProjetFactureCore.dll
SolutionFacture/prjEFCore/obj/prjEFCore.csproj.EntityFrameworkCore.targets
SolutionFacture/prjEFCore/obj/prjEFCore.csproj.nuget.dgspec.json
SolutionFacture/prjEFCore/obj/prjEFCore.csproj.nuget.g.props
SolutionFacture/prjEFCore/obj/prjEFCore.csproj.nuget.g.targets
SolutionFacture/prjEFCore/obj/project.assets.json
SolutionFacture/prjEFCore/obj/project.nuget.cache
SolutionFacture/WpfFacture/obj/WpfFacture.csproj.nuget.g.targets
SolutionFacture/WpfFacture/obj/WpfFacture.csproj.nuget.g.props
SolutionFacture/WpfFacture/obj/WpfFacture.csproj.nuget.dgspec.json
SolutionFacture/WpfFacture/obj/project.nuget.cache
SolutionFacture/WpfFacture/obj/project.assets.json
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture_MarkupCompile.lref
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture_MarkupCompile.i.lref
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture_MarkupCompile.i.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture_MarkupCompile.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.pdb
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.genruntimeconfig.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.g.resources
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.dll
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.designer.runtimeconfig.json
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.designer.deps.json
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.csproj.FileListAbsolute.txt
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.csproj.CoreCompileInputs.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.csproj.CopyComplete
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.csproj.AssemblyReference.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.assets.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.AssemblyInfoInputs.cache
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WpfFacture.AssemblyInfo.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowClient.g.i.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowClient.g.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowClient.baml
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/ref/WpfFacture.dll
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/MainWindow.g.i.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/MainWindow.g.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/MainWindow.baml
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/apphost.exe
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/App.g.i.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/App.g.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/App.baml
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.runtimeconfig.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.runtimeconfig.dev.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.exe
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/WpfFacture.deps.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/System.Runtime.Caching.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/System.IdentityModel.Tokens.Jwt.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/System.Diagnostics.DiagnosticSource.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/ref/WpfFacture.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.runtimeconfig.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.runtimeconfig.dev.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.pdb
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.exe
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/prjEFCore.deps.json
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Newtonsoft.Json.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Xaml.Behaviors.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.IdentityModel.Tokens.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.IdentityModel.Protocols.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.IdentityModel.Logging.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Identity.Client.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Primitives.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Options.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Logging.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.DependencyInjection.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Configuration.Abstractions.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Caching.Memory.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Extensions.Caching.Abstractions.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.EntityFrameworkCore.SqlServer.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.EntityFrameworkCore.Relational.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.EntityFrameworkCore.Proxies.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.EntityFrameworkCore.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.EntityFrameworkCore.Abstractions.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Microsoft.Data.SqlClient.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/MahApps.Metro.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/de/MahApps.Metro.resources.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/ControlzEx.dll
SolutionFacture/WpfFacture/bin/Debug/net5.0-windows/Castle.Core.dll
SolutionFacture/prjEntity2/obj/project.nuget.cache
SolutionFacture/prjEntity2/obj/project.assets.json
SolutionFacture/prjEntity2/obj/prjEntity2.csproj.nuget.g.targets
SolutionFacture/prjEntity2/obj/prjEntity2.csproj.nuget.g.props
SolutionFacture/prjEntity2/obj/prjEntity2.csproj.nuget.dgspec.json
SolutionFacture/prjEntity2/obj/prjEntity2.csproj.EntityFrameworkCore.targets
SolutionFacture/prjEntity2/obj/Debug/net5.0/ref/prjEntity2.dll
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.pdb
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.genruntimeconfig.cache
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.GeneratedMSBuildEditorConfig.editorconfig
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.dll
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.csproj.FileListAbsolute.txt
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.csproj.CoreCompileInputs.cache
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.csproj.CopyComplete
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.csproj.AssemblyReference.cache
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.assets.cache
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.AssemblyInfoInputs.cache
SolutionFacture/prjEntity2/obj/Debug/net5.0/prjEntity2.AssemblyInfo.cs
SolutionFacture/prjEntity2/obj/Debug/net5.0/apphost.exe
SolutionFacture/prjEntity2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Windows.Extensions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Security.Permissions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Runtime.Caching.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Drawing.Common.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/ref/prjEntity2.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.runtimeconfig.json
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.runtimeconfig.dev.json
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.pdb
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.exe
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/prjEntity2.deps.json
SolutionFacture/prjEntity2/bin/Debug/net5.0/Newtonsoft.Json.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Identity.Client.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Caching.Memory.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Extensions.Caching.Abstractions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Proxies.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Humanizer.dll
SolutionFacture/prjEntity2/bin/Debug/net5.0/Castle.Core.dll
SolutionFacture/.vs/SolutionFacture/DesignTimeBuild/.dtbcache.v2
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowArticle.baml
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowArticle.g.cs
SolutionFacture/WpfFacture/obj/Debug/net5.0-windows/WindowArticle.g.i.cs
